<!DOCTYPE html>
<html>
<head meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aakar Dwivedi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<header class="jumbotron">
	<div class="container">
		<div class="row row-content centre">
			<br><br>
			<h1>Aakar Dwivedi</h1>
			<p>A budding developer</p>
			<br>
			<a  href="http://www.facebook.com/aakardwivedi" target="blank">
				<%= image_tag("facebbok.png")%></a></a>
			<a href="https://www.github.com/aakardwivedi" target="blank">
				<%= image_tag("github.png")%></a>
			<a href="http://www.quora.com/Aakar-Dwivedi" target="blank">
				<%= image_tag("quora.png")%></a>
			<a href="https://www.linkedin.com/in/aakar-dwivedi-0201a5b0/" target="blank">
				<%= image_tag("linkedin.png")%></a>
			<br>
		</div>
	</div>
</header>
<%= yield %>

<footer class="jumbotron row-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-xs-12">
			 	<ul class="footer-links">
			 		<li class="active"><a href="/pages/Home">Home</a></li>
			 		<li><a href="/pages/Contact">Contact</a></li>
			 		<li><a href="https://drive.google.com/open?id=0B58YHCIBfEFfTDJpZ3k4ZENaRHM" target="blank">Resume</a></li>
			 	</ul>
			</div>
			<div class="col-lg-4 col-sm-12 col-xs-12">
			 	<address>
			 		1201/1 Anjani Vihar<br>
			 		Pushpak Nagar<br>
			 		Adhartal<br>
			 		Jabalpur<br>
			 		M.P - 482004
			 	</address>
			</div>
			<div class="col-lg-4 col-sm-12 col-xs-12">
			 	<a  href="http://www.facebook.com/aakardwivedi" target="blank">
					<%= image_tag("facebbok.png")%></a></a>
				<a href="https://www.github.com/aakardwivedi" target="blank">
					<%= image_tag("github.png")%></a>
				<a href="http://www.quora.com/Aakar-Dwivedi" target="blank">
					<%= image_tag("quora.png")%></a>
				<a href="https://www.linkedin.com/in/aakar-dwivedi-0201a5b0/" target="blank">
					<%= image_tag("linkedin.png")%></a>
			</div>
		</div>
	</div>
	<div class="footer-cpoyright">
		<div class="container">
			<span class="left white-text" >© Copyright 2017. Aakar Dwivedi. All rights reserved.</span>
			<span class="right white-text">Site developed and maintained by Aakar Dwivedi</span>
		</div>
	</div>
</footer>
</body>

</html>
